.app {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* HEADER */

.header {
  width: 100%;
  position: relative;
  background-color: #222;
  height: 50px;
  padding: 5px 20px;
  color: white;
  position: fixed;
  top: 0;
}

/* -navigation- */

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  height: 100%;
}

.main-nav-left {
  width: 20%;
  background-color: red;
}

.main-nav-center {
  width: 60%;
  background-color: blue;
}

.main-nav-right {
  width: 20%;
  background-color: green;
}

.toggle-nav-menu {}

.hambuger-icon {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  width: 25px;
  height: 100%;
  .lines {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 2px;
    background: #2d96cd none repeat scroll 0 0;
    border-radius: 1px;
  }
}

.lines::before {
  top: 2px;
}

/* MAIN */

.main {
  width: 100%;
  height: 1250px;
  background-color: blue;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 50px;
  background-color: green;
}

/* animation  example delete when not needed any more*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
