.app {
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0; }

/* HEADER */
.header {
  width: 100%;
  position: relative;
  background-color: #222;
  height: 50px;
  color: white;
  /* -navigation- */ }
  .header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 100%; }
    .header .main-nav .main-nav-left {
      width: 20%;
      background-color: red; }
      .header .main-nav .main-nav-left .hambuger-icon {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        width: 25px;
        height: 100%; }
        .header .main-nav .main-nav-left .hambuger-icon .lines {
          display: inline-block;
          position: relative;
          width: 25px;
          height: 2px;
          background: #2d96cd none repeat scroll 0 0;
          border-radius: 1px; }
        .header .main-nav .main-nav-left .hambuger-icon .lines::before {
          top: 2px; }
    .header .main-nav .main-nav-center {
      width: 60%;
      background-color: blue; }
    .header .main-nav .main-nav-right {
      width: 20%;
      background-color: green; }

/* NAV LIST */
.nav-list {
  height: 100%;
  top: 50px;
  /* The switch - the box around the slider
  * example taken from https://www.w3schools.com/howto/howto_css_switch.asp
  */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  @media screen and (max-width: 450px) {
    .nav-list {
      background-color: #ababab;
      position: absolute;
      -webkit-transform: translate(-300px, 0);
              transform: translate(-300px, 0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      width: 300px;
      z-index: 10; }
      .nav-list.open {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); } }
  .nav-list .nav-item {
    border-bottom: 1px solid #E0E0E0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: list-item;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%; }
  .nav-list .switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 15px;
    left: 230px; }
  .nav-list .switch input {
    display: none; }
  .nav-list .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .nav-list .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .nav-list input:checked + .slider {
    background-color: #2196F3; }
  .nav-list input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
            box-shadow: 0 0 1px #2196F3; }
  .nav-list input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px); }
  .nav-list .slider.round {
    border-radius: 34px; }
  .nav-list .slider.round:before {
    border-radius: 50%; }

/* MAIN */
.main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: blue; }
  .main #map {
    width: 100%;
    height: 100%; }

/* FOOTER */
.footer {
  width: 100%;
  height: 50px;
  background-color: green; }

/* Loading animated circle
*/
#load {
  width: 50px;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite; }
  #load #loading-inner {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 10;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    -webkit-animation: loading-circle 2s linear infinite;
            animation: loading-circle 2s linear infinite;
    stroke: #51BBA7;
    fill: transparent; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes loading-circle {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -600; } }

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -600; } }
