.app {
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0; }

/* HEADER */
.header {
  width: 100%;
  position: relative;
  background-color: #222;
  height: 50px;
  color: white;
  /* -navigation- */ }
  .header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% - 40px);
    height: 100%; }
    .header .main-nav .main-nav-left {
      width: 20%;
      background-color: red; }
      .header .main-nav .main-nav-left .hambuger-icon {
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        width: 25px;
        height: 100%; }
        .header .main-nav .main-nav-left .hambuger-icon .lines {
          display: inline-block;
          position: relative;
          width: 25px;
          height: 2px;
          background: #2d96cd none repeat scroll 0 0;
          border-radius: 1px; }
        .header .main-nav .main-nav-left .hambuger-icon .lines::before {
          top: 2px; }
    .header .main-nav .main-nav-center {
      width: 60%;
      background-color: blue; }
    .header .main-nav .main-nav-right {
      width: 20%;
      background-color: green; }

/* MAIN */
.main {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: blue; }
  .main #map {
    width: 100%;
    height: 100%; }

/* FOOTER */
.footer {
  width: 100%;
  height: 50px;
  background-color: green; }

/* animation  example delete when not needed any more*/
.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
